.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#left_column {
  color: #bfd9d6
}

img{
  width:554px;
  height:554px;
}
